
@{
    ViewBag.Title = "Заказ обработан";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Спасибо!</h2>
<p>В ближайшее время мы свяжемся с Вами для уточнения заказа и времени доставки.</p>

<a href="@Url.Action("List","Phones")" class="btn btn-success">Вернуться на главную страницу</a>