@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h3>О нас</h3>
<span class="text-center">
    Компания представлена на российском рынке с 2017 года. В основу нашей компании мы положили идею продвижения техники и гаджетов на российском рынке и странах-участницах Таможенного союза, и как важная часть этой цели – продвижение новой для нашей страны идеи умного дома. Мы обладаем самой полной информацией о продукции, пишем статьи, снимаем видеообзоры, проводим сравнения различных моделей и выкладываем инструкции.
</span>

<br />
<img src="~/Content/Images/smart-rus-1.jpg" class="img-circle"/>